@font-face {
    font-family: 'FeatherBold';
    src: url('Feather Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dine-round';
    src: url('DINRoundPro.ttf') format('truetype');
}

:root {
    --dark-blue: #353F98;
    --dark-grey: rgb(54, 51, 71);
    --hover-blue: #5b6bfd;
}

/* @media screen and(min-width: 800px) {

} */

#Welcome{
    text-align: center;
    font-family: 'dine-round', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 7vh;
}

.banner{
    position : relative;
    background-color: var(--dark-blue);
    display: flex;
    width: 100dvw;
    height: 20dvh;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

#Profile {
    display: flex;
    position: absolute;
    right: 5vw;
    top: 5dvh;
}

#ProfileButton {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
}

#ProfileButton:hover {
    border: 2px #5b6bfd solid;
}


body{ 
    font-family: 'dine-round', sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

body.dark-mode {
    background-color:var(--dark-grey);
    color: white;
  }

#DarkModeToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-grey);
    border: #353F98 2px solid;
}

#DarkModeToggle:hover {
    background-color: var(--hover-blue);
}

#DarkModeToggle.dark-mode {
    background-color: white;
}

#DarkModeToggle.dark-mode:hover {
    background-color: var(--hover-blue);
}

.StudyMode {
    display: grid;
    grid: auto / repeat(4, 1fr);
    column-gap: 5em;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

.StudyMode h2 {
    font-size: 2em;
    grid-column: 1 / span 4;
    padding: 0.5em;
    text-align: center;
}

#Game1 {
    width: 300px;
    height: 300px;
    /* margin-left: 30%; */
    color: white;
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: none;
    grid-column: 2;
    grid-row: 2;
}

#Game1:hover {
    color: white;
    background-color: #5b6bfd
}

#Game2 {    
    width: 300px;
    height: 300px;
    /* margin-left: 50px;  */
    color: white;
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: none;
    grid-column: 3;
    grid-row: 2;
}

#Game2:hover {
    color: white;
    background-color: #5b6bfd
}

#ModeText {
    margin: 10px;
}
/* ------------------------------------- MOBILE ----------------------------------------- */
@media screen and (max-width: 799px) {

#ProfileButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}

#Welcome{
    text-align: center;
    font-family: 'dine-round', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 5vh;
}

.StudyMode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StudyMode h2 {
    font-size: 2em;
    grid-column: 1 / span 3;
    padding: 0.5em;
    text-align: center;
}

#Game1 {
    width: 200px;
    height: 100px;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: none;
    margin: 3vh;
}

#Game2 {    
    width: 200px;
    height: 100px;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: none;
}

#Game2:hover {
    color: white;
    background-color: #5b6bfd
}

}


/* 
#SubmitButton {
    width: 200px;
    height: 50px;
    font-family: 'dine-round';
    font: 20px;
    color: white;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 15px;
}

#SubmitButtonDiv {
    margin: auto;
    grid-column: 1/span 2;
    padding: 2em;   
}

#SubmitButton:hover {
    color: white;
    background-color: #5b6bfd */