
@font-face {
    font-family: 'FeatherBold';
    src: url('Feather Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dine-round';
    src: url('DINRoundPro.ttf') format('truetype');
}

body{ 
    font-family: 'FeatherBold';
    color: None;
    
}
#heading{
    text-align: center;
    font-family: 'FeatherBold';
    color: #58cc02;
}
ul{
    font-family: 'dine-round', sans-serif;
    font-size: 19px;
    font-weight: bold;
}
h2{
    font-family: 'dine-round', sans-serif;
    font-size: 20px;
    color: #58cc02;
}
#Score{
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
}

#Question{
    text-align: center;
    font-family:'dine-round';
    font-size: 20px;
}

form {
    border-top: 1px solid #ccc; /* Solid top border for visual separation */
    margin: 20px auto; 
    padding: 20px; 
    width: 50%; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    font-weight: 20px;
    font-family: 'dine-round', sans-serif;
    font-size: 19px;
}


.form-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.form-option {
    margin-bottom: 10px; 
}

input[type="radio"] {
    margin-right: 10px; 
    vertical-align: middle; 
}

label {
    display: inline-block; 
    vertical-align: middle; 
}

/* form{
    border-top-style: solid;
    border-width: 1px;
    text-align: center;
    margin-right: 30px;
} */

/* form #choice  {
    display: flex;
    justify-content: center;
} */

form #submit {
    margin-top: 20px;
}

#box{
    border-style: solid;
    border-width: .5px;
}