@font-face {
    font-family: 'FeatherBold';
    src: url('/static/font/Feather Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-round';
    src: url('/static/font/DINRoundPro.ttf') format('truetype');
}

:root {
    --dark-blue: #353F98;
    --dark-grey: rgb(54, 51, 71);
    --hover-blue: #5b6bfd;
}


body{
    margin: 0;
}

.banner{
    position : relative;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 23% 53% 23%;
    width: 100%;
    height: 20dvh;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

#Welcome {
    text-align: center;
    font-family: 'din-round', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 7vh;
    grid-column: 2;
}

li{
    display: inline;
    list-style: none;
    text-decoration: none;
}

li ul {
    display: inline;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

li a:hover {
    color: var(--hover-blue);
}

.NavBar {
    display: flex;
    grid-column: 3;
    justify-self: end;
    margin-right: 5vw;
}

.NavBar li{
    display: flex;
    justify-items:  right;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 40px; 
}

h1 {
    font-size: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

h2 {
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: inline-block;
}

.reset-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),0px 6px 20px rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    align-items: center;
    border: 2px solid #ffffff;
}

.reset-form h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
}

.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dfd9d9;
    background-color: #919be5;
    text-align: center;
    color: #e0e0e0;
    border-radius: 4px;
    font-size: 20px;
}

.input-field::placeholder {
    color: #ffffff;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #353F98;
    text-decoration: none;
    font-size: 15px;
}

.forgot-button {
    width: 50%;
    padding: 10px;
    background-color: #353F98;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.forgot-button:hover {
    background-color: #353F98;
}

body.dark-mode {
    background-color:var(--dark-grey);
    color: white;
}

body.dark-mode h1{
    color: white;
}

body.dark-mode .reset-form {
    background-color: darkgray;
    color: white;
}

#DarkModeToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-grey);
    border: #353F98 2px solid;
}

#DarkModeToggle:hover {
    background-color: var(--hover-blue);
}

#DarkModeToggle.dark-mode {
    background-color: white;
}

#DarkModeToggle.dark-mode:hover {
    background-color: var(--hover-blue);
}

#error_message {
    position: relative;
    top: 3px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(250, 75, 75);
    color: white;
    font-family: 'FeatherBold';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}