@font-face {
    font-family: 'FeatherBold';
    src: url('/static/font/Feather Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-round';
    src: url('/static/font/DINRoundPro.ttf') format('truetype');
}

:root {
    --dark-blue: #353F98;
    --dark-grey: rgb(54, 51, 71);
    --hover-blue: #5b6bfd;
}


.banner {
    width: 100%;
    height: 100px;
    height: 100px;
    background-color: #353F98;
    position: absolute;
    top: 0;
    left: 0;
}


#Welcome {
    text-align: center;
    font-family: 'din-round', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 7vh;
    grid-column: 2;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 120px; 
}

h1 {
    font-size: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

h2 {
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: inline-block;
}

.signup-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    align-items: center;
}

#signup-label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dfd9d9;
    background-color: #919be5;
    text-align: center;
    color: #e0e0e0;
    border-radius: 4px;
    font-size: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid darkgray;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
    color: #6c757d;
}

.input-field::placeholder {
    color: #ffffff;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #353F98;
    text-decoration: none;
    font-size: 15px;
}

.signup-button {
    width: 85%;
    padding: 10px;
    background-color: #353F98;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.signup-button:hover {
    background-color: #353F98;
}

.login-link {
    margin-top: 20px;
    font-size: 15px;
}

.login-link a {
    color: #353F98;
    text-decoration: none;
}

body.dark-mode {
    background-color:var(--dark-grey);
    color: white;
}

#DarkModeToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-grey);
    border: #353F98 2px solid;
}

#DarkModeToggle:hover {
    background-color: var(--hover-blue);
}

#DarkModeToggle.dark-mode {
    background-color: white;
}

#DarkModeToggle.dark-mode:hover {
    background-color: var(--hover-blue);
}
/* .alert {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
}

.alert.success {  
    background-color: #4CAF50; 
}

.alert.error {  
    background-color: #f44336; 
} */