@font-face {
    font-family: "GabrielSans-bold";
    src: url('/static/font/GabrielSans-Trial-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "GabrielSans-normal";
    src: url('/static/font/GabrielSans-Trial-Normal.ttf') format('truetype');

}
@font-face {
    font-family: "eudox";
    src: url('/static/font/EudoxusSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'FeatherBold';
    src: url('/static/font/Feather Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-round';
    src: url('/static/font/DINRoundPro.ttf') format('truetype');
}

:root {
    --dark-blue: #353F98;
    --dark-grey: rgb(54, 51, 71);
    --hover-blue: #5b6bfd;
}

header{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;

}
.banner{
    background-color: #353F98;
    display: grid;
    position : relative;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    height: 20dvh;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.banner_content{
grid-column: 2;
display: grid;     
}

.banner_text{
    text-align: center;
    font-family: 'din-round', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 2vh;
}

.NavBar {
    display: flex;
    grid-column: 3;
    justify-self: end;
    margin-right: 5vw;
    font-family: 'din-round', sans-serif;
}

.NavBar li{
    display: flex;
    justify-items:  right;
    display: inline;
    list-style: none;
    text-decoration: none;
    
}

.NavBar li ul {
    display: inline;
}

li a:hover {
    color: var(--hover-blue);
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.score_container{
   
    justify-content: center;
    align-items:none;
    display: inline-block;

    background-color: #7782DD;
    
    
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 30px;
    margin-left: 30px;
    padding : 10px;
    margin-top: 10px;
    

    
}
.score {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'din-round',sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
 ;


   
}

#score_text,
#score_number {
    margin:0;
    margin-right: 6px;
 
}

.question_container{
    margin-top: 50px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
   
}

div#choices input,label{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: lighter;
}

#question_form  input[type="submit"] {
    display: inline-block;
    background-color: #353F98;
    color: #fff;
    border: none;
    padding: 11px 45px;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'din-round', sans-serif;
    font-size: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;

}
.button{
    display: inline-block;
    background-color: #353F98;
    color: #fff;
    border: none;
    padding: 4px 23px;
    border-radius: 15px;

    cursor: pointer;
    font-family: "eudox";
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    margin: 30px;
}
.button{
    display: inline-block;
    background-color: #353F98;
    color: #fff;
    border: none;
    padding: 4px 23px;
    border-radius: 15px;

    cursor: pointer;
    font-family: "eudox";
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    margin: 30px;
}
  
#question_form input[type="submit"]:hover {
    background-color: #5b6bfd;
}


#question_form{
    margin-top: 43px;
    
}

#respone_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 22px;
    background-color: none;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
#answer{
    font-weight: bold;
    font-size: 23px;
    display: inline;

}
#description{
    margin-top: 32.5px;
    display: inline;
}
#correct_or_wrong{
    margin-left: 5vw;
    display: flex;
    text-align: center;
    font-family: 'din-round', sans-serif;
    display: inline-flex;
    position: relative;
}
#next_question {
   
    justify-content: center;

    display:inline-block ;

    font-family: 'din-round', sans-serif;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    width: 180px;
    margin: 0px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    grid-column: 5;
    padding: 10px 0 10px 0 ;
  }
#next_question:hover{
    box-shadow:  3px 3px 6px rgba(0, 0, 0, 0.3);
}
.inline-space{
    display: inline;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .score_container{
        margin-left: 0;
        justify-content: center;
        position: relative;
    }
    #respone_box{
        padding: 0;
    }
    #respone_box{

        margin: 0;
        display: inline;
        
    }

 
       

}
#ducky{

    width: 250px;
    height: auto;
    margin-top: 80px;



}
#respone_end{
    color: #F7D308;
}
#score_correct_outter{
    /* flex:1; */
    height: 50px;
    width: 80px;
    align-items: center;
    justify-content: center;
    background-color: #78C745;
    margin: 0px;

    border-radius: 10px;
    display: flex;
    margin-right: 8px;

}
#score_correct_inner{
    width: 50px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
}
#score_incorrect_outter{
    /* flex: 1; */
    height: 50px;
    width: 80px;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: 0px;
    border-radius: 10px;
    display: flex;
    margin-right: 8px;

}
#score_incorrect_inner{
    width: 50px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
}
#score_div{
    display: flex;
    justify-content: center;
    align-items: center; 
}
#winstreakImg{
    width: 400px;
    height: auto;
    margin-top: 80px;

    align-items: center;
    justify-content: center;

}
#winstreak{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
 

}
#special{
    justify-self: end;

    display:none ;

    
    

    font-family: 'eudox';
    background-color: #FFD117;
    color: #fff;
    border: 2px solid #fff;
    width: 180px;
    margin: 0px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    grid-column: 4;
    padding: 10px 0 10px 0 ;
}

#time_container {
    height: 25px;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 25px;
    display: flex;
    position: relative; /* Add position relative to the outer div */
  }
  
  #time {
    width: calc(100% - 50px); /* Adjust the width of the inner div based on the outer div's width */
    height: 10px;

    background-color: #fff;
    border-radius: 3px;
    position: absolute; /* Add position absolute to the inner div */
    left: 0; /* Start the inner div from the right */
    top: 50%; /* Center the inner div vertically */
    transform: translateY(-50%); /* Adjust the position of the inner div */
    padding-right: -20px;
}


#bomb {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-image: url('/static/Endless/bomb.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

body.dark-mode {
    background-color:var(--dark-grey);
    color: white;
}

#DarkModeToggle {
    width: 70px;
    height: 45px;
    border-radius: 10%;
    border: none;
    background-color: var(--dark-grey);
    border: #353F98 2px solid;
    margin-left: 5vw;
    font-family: 'din-round', sans-serif;
}

#DarkModeToggle:hover {
    background-color: var(--hover-blue);
}

#DarkModeToggle.dark-mode {
    background-color: white;
}

#DarkModeToggle.dark-mode:hover {
    background-color: var(--hover-blue);
}
#pageSettings{
    position: relative;
    padding: 1.5rem 4.5rem 4.5rem;
}
#second_box{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    
}

.QuestionReview{
    display: flex;
    height: 80px;
    width: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    transition: transform 0.6s;

}
.QuestionReview .front,
.QuestionReview .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipped {
    transform: rotateX(180deg);
  }
#reviewbody{

background-color: #F6F7FB;

}
#questionList{
    font-family: sans-serif;
}
.QuestionReview p {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

/* ------------------------------------- MOBILE ----------------------------------------- */
@media screen and (max-width: 1000px) {

.banner{
    display: flex;
    flex-direction: column;
}

#DarkModeToggle {
    order: 3;
    margin: auto;
}
    
}
