@font-face {
    font-family: 'FeatherBold';
    src: url('font/Feather Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-round';
    src: url('font/DINRoundPro.ttf') format('truetype');
}

.banner {
    width: 100%;
    height: 80px;
    background-color: #353F98;
    position: absolute;
    top: 0;
    left: 0;
}

.unolingo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 90px;
    font-family: 'FeatherBold', 'sans-serif';
}


#loginMessage {
    font-family: sans-serif;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 120px; 
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: inline-block;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
}


.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dfd9d9;
    background-color: #919be5;
    text-align: center;
    color: #e0e0e0;
    border-radius: 4px;
    font-size: 14px;
}

/* .r-input-field {
    
} */

.input-field::placeholder {
    color: #ffffff;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #353F98;
    text-decoration: none;
    font-size: 12px;
}


.login-button {
    width: 90%;
    padding: 10px;
    background-color: #353F98;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.login-button:hover {
    background-color: #353F98;
}

.signup-link {
    margin-top: 20px;
    font-size: 12px;
}

.signup-link a {
    color: #353F98;
    text-decoration: none;
}
#special {
    grid-column: 4;
}
#next_question {
    grid-column: 5;
}
    