<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Game</title>
    <style>
        body {
            text-align: center;
        }
        .card {
            width: 100px;
            height: 150px;
            border: 1px solid black;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            margin: 1%;
            cursor: pointer;
        }
        .fire {
            background-color: red;
            text-align: center;
        }
        .water {
            background-color: blue;
            color: white;
        }
        .snow {
            background-color: green;
            color: white;
        }
        #player_hand {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        #computer_hand {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .player_card_html:hover {
            border: 10px dashed deepskyblue;
            transform: scale(1.05);
            transition: transform 0.2s;
        }
        .computer_card_html:hover {
            border: 10px dashed palegreen;
            transform: scale(1.05);
            transition: transform 0.2s;
        }
        #player_html_selected {
            transform: scale(1.05);
            transition: transform 0.2s;
            border: 10px solid deepskyblue;
        }

        .player_card_html.selected {
            transform: scale(1.05);
            transition: transform 0.2s;
            border: 10px solid purple;
        }

        #game_area {
            display: none;
        }
    </style>
</head>
<body>
<h2>Game</h2>
<div id="game_area">
    <div id="log"></div>

    <div id="player_area">
        <div id="player_ui">
            <p>Player</p>
            <p>Snow Cards: <span id="player_snow_card_score">0</span> </p>
            <p>Fire Cards: <span id="player_fire_card_score">0</span></p>
            <p>Water Cards: <span id="player_water_card_score">0</span></p>
        </div>
        <div id="player_hand"></div>
    </div>
    <div id="computer_area">
        <div id="computer_ui">
            <p>Computer</p>
            <p>Snow Cards: <span id="computer_snow_card_score">0</span> </p>
            <p>Fire Cards: <span id="computer_fire_card_score">0</span></p>
            <p>Water Cards: <span id="computer_water_card_score">0</span></p>
        </div>
        <div id="computer_hand"></div>
        <button id="play_card_button">Play Card</button>
        <button id="next_round_button">Next Round</button>
        <button id="reset_game_button">Reset Game</button>
    </div>
</div>
<button id="start_game_button">Start Game</button>
<script>

    //Add DOMContentLoaded event listener
    document.addEventListener('DOMContentLoaded', (event) => {
         // DOM Variables:
    let player_snow_card_score_html = document.getElementById('player_snow_card_score')
    let player_fire_card_score_html = document.getElementById('player_fire_card_score')
    let player_water_card_score_html = document.getElementById('player_water_card_score')
    let computer_snow_card_score_html = document.getElementById('computer_snow_card_score')
    let computer_fire_card_score_html = document.getElementById('computer_fire_card_score')
    let computer_water_card_score_html = document.getElementById('computer_water_card_score')
    let player_hand_div = document.getElementById('player_hand')
    let computer_hand_div = document.getElementById('computer_hand')
    let game_area = document.getElementById('game_area')
    let player_area = document.getElementById('player_area')
    let computer_area = document.getElementById('computer_area')
    let start_game_button = document.getElementById('start_game_button')
    let play_card_button = document.getElementById('play_card_button');
    let next_round_button = document.getElementById('next_round_button');
    let log_html = document.getElementById('log');


    // Global Variables:
    let deck = []
    let player_hand = []
    let computer_hand = []
        let player_snow_card_score_js = 0
        let player_fire_card_score_js = 0
        let player_water_card_score_js = 0
        let computer_snow_card_score_js = 0
        let computer_fire_card_score_js = 0
        let computer_water_card_score_js = 0
        let last_played_player_card;
let last_played_computer_card;

    // Function to generate cards
    function create_deck() {
        for (let i = 1; i <= 10; i++) {
            deck.push({number: i, type: 'snow'})
            deck.push({number: i, type: 'fire'})
            deck.push({number: i, type: 'water'})
        }
    }

    // Function to shuffle deck
    function shuffleDeck() {
        for (let i = deck.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [deck[i], deck[j]] = [deck[j], deck[i]];
        }
    }

    // Function to randomly add 10 cards with random numbers and type (fire, water, snow) to deck
    function add_10_random_extra_cards() {
        for (let i = 0; i < 10; i++) {
            let type_number = Math.floor(Math.random() * 3)
            if (type_number == 0) {
                deck.push({number: Math.floor(Math.random() * 10) + 1, type: 'snow'})
            } else if (type_number == 1) {
                deck.push({number: Math.floor(Math.random() * 10) + 1, type: 'fire'})
            } else {
                deck.push({number: Math.floor(Math.random() * 10) + 1, type: 'water'})
            }
        }
    }

    // Draw 5 cards from deck
    function draw_five_cards() {
        for (let i = 0; i < 5; i++) {
            player_hand.push(deck.pop())
            computer_hand.push(deck.pop())
        }
    }

    // Function to read the player hand and computer hand and display the cards in the player and computer hand divs
    function display_player_hand() {
        player_hand_div.innerHTML = ''; // Clear existing content
        for (let i = 0; i < player_hand.length; i++) {
            let symbol;
            if (player_hand[i].type == 'snow') {
                symbol = "❄️";
            } else if (player_hand[i].type == 'fire') {
                symbol = "🔥";
            } else {
                symbol = "💧";
            }
            let card = document.createElement('div');
            card.className = `card player_card_html ${player_hand[i].type}`;
            card.id = `p${i}`;
            card.innerHTML = `${player_hand[i].number}${symbol}`;
            card.addEventListener('click', () => select_card(card));
            player_hand_div.appendChild(card);
        }
    }

   function select_card(card) {
        // Remove the selection from any previously selected card
        let selected_player_card_html = document.querySelector('.player_card_html.selected');
        play_card_button.disabled = false;
        if (selected_player_card_html) {
            selected_player_card_html.classList.remove('selected');
        }
        // Add the selection to the clicked card
        card.classList.add('selected');
    }

    function display_computer_hand() {
        computer_hand_div.innerHTML = ''; // Clear existing content
        for (let i = 0; i < computer_hand.length; i++) {
            let symbol;
            if (computer_hand[i].type == 'snow') {
                symbol = "❄️";
            } else if (computer_hand[i].type == 'fire') {
                symbol = "🔥";
            } else {
                symbol = "💧";
            }
            let card = document.createElement('div');
            card.className = `card computer_card_html ${computer_hand[i].type}`;
            card.id = `c${i}`;
            card.innerHTML = `${computer_hand[i].number}${symbol}`;
            computer_hand_div.appendChild(card);
        }
    }

    // Start game function
    function start_game() {
        game_area.style.display = 'block';
        player_area.style.display = 'block';
        computer_area.style.display = 'block';
        start_game_button.disabled = true;
        play_card_button.disabled = true;

        create_deck();
        shuffleDeck();
        add_10_random_extra_cards();
        draw_five_cards();
        display_player_hand();
        display_computer_hand();
    }


  // Function to handle a player win
function player_wins(player_card, computer_card) {
    // Style the player's card
    document.getElementById(`p${player_card.index}`).style.border = '10px solid gold';
    document.getElementById(`p${player_card.index}`).innerHTML += '👑';

    // Style the computer's card
    document.getElementById(`c${computer_card.index}`).style.border = '10px solid black';
    document.getElementById(`c${computer_card.index}`).innerHTML += '💀';

    // Update the log div with both a timestamp and the player and computer wins
    log_html.innerHTML += `<p>${new Date().toLocaleTimeString()} - Player wins. Player's ${player_card.type} ${player_card.number} beats computer's ${computer_card.type} ${computer_card.number}</p>`;

    // Increment the player's score based on the card type
    if (player_card.type === 'snow') {
        player_snow_card_score_js++;
        player_snow_card_score_html.innerText = player_snow_card_score_js;
    } else if (player_card.type === 'fire') {
        player_fire_card_score_js++;
        player_fire_card_score_html.innerText = player_fire_card_score_js;
    } else if (player_card.type === 'water') {
        player_water_card_score_js++;
        player_water_card_score_html.innerText = player_water_card_score_js;
    }

    // Disable the Play Card button
    play_card_button.disabled = true;

    // Enable the Next Round button
    next_round_button.disabled = false;

     // Store last played cards
    last_played_player_card = player_card;
    last_played_computer_card = computer_card;

    // Log and alert the win
    console.log(`Player wins. Player's ${player_card.type} ${player_card.number} beats computer's ${computer_card.type} ${computer_card.number}`);
    alert(`Player wins. Player's ${player_card.type} ${player_card.number} beats computer's ${computer_card.type} ${computer_card.number}`);
}

// Function to handle a computer win
function computer_wins(player_card, computer_card) {
    // Style the computer's card
    document.getElementById(`c${computer_card.index}`).style.border = '10px solid gold';
    document.getElementById(`c${computer_card.index}`).innerHTML += '👑';

    // Style the player's card
    document.getElementById(`p${player_card.index}`).style.border = '10px solid black';
    document.getElementById(`p${player_card.index}`).innerHTML += '💀';

    // Update the log div with both a timestamp and the player and computer wins
    log_html.innerHTML += `<p>${new Date().toLocaleTimeString()} - Computer wins. Computer's ${computer_card.type} ${computer_card.number} beats player's ${player_card.type} ${player_card.number}</p>`;

    // Increment the computer's score based on the card type
    if (computer_card.type === 'snow') {
        computer_snow_card_score_js++;
        computer_snow_card_score_html.innerText = computer_snow_card_score_js;
    } else if (computer_card.type === 'fire') {
        computer_fire_card_score_js++;
        computer_fire_card_score_html.innerText = computer_fire_card_score_js;
    } else if (computer_card.type === 'water') {
        computer_water_card_score_js++;
        computer_water_card_score_html.innerText = computer_water_card_score_js;
    }

    // Disable the Play Card button
    play_card_button.disabled = true;

    // Enable the Next Round button
    next_round_button.disabled = false;

     // Store last played cards
    last_played_player_card = player_card;
    last_played_computer_card = computer_card;

    // Log and alert the win
    console.log(`Computer wins. Computer's ${computer_card.type} ${computer_card.number} beats player's ${player_card.type} ${player_card.number}`);
    alert(`Computer wins. Computer's ${computer_card.type} ${computer_card.number} beats player's ${player_card.type} ${player_card.number}`);
}


// Function to play a round
function play_round() {
    // Find which card has been selected
    let selected_player_card_html = document.querySelector('.player_card_html.selected');
    if (!selected_player_card_html) {
        console.log("No card selected");
        return;
    }

    // Get the selected player card details
    let selected_player_card_html_class = selected_player_card_html.className;
    let selected_player_card_html_class_string_array = selected_player_card_html_class.split(' ');
    let selected_player_card_html_type = selected_player_card_html_class_string_array[2];
    let selected_player_card_html_value_string = selected_player_card_html.innerHTML;
    let selected_player_card_html_value = selected_player_card_html_value_string.match(/\d+/)[0];
    let selected_player_card_html_id = selected_player_card_html.id;
    let selected_player_card_html_index = selected_player_card_html_id.substring(1);

    // Create player card object
    let player_card = {
        index: selected_player_card_html_index,
        type: selected_player_card_html_type,
        number: parseInt(selected_player_card_html_value)
    };

    // Randomly select a card in computer hand
    let computer_card_index = Math.floor(Math.random() * 5);
    let computer_card_id = `c${computer_card_index}`;
    let computer_card = computer_hand[computer_card_index];

    // Add index to computer card object
    computer_card.index = computer_card_index;

    // Determine the winner
    if ((player_card.type == 'fire' && computer_card.type == 'snow') ||
        (player_card.type == 'snow' && computer_card.type == 'water') ||
        (player_card.type == 'water' && computer_card.type == 'fire')) {
        player_wins(player_card, computer_card);
    } else if ((computer_card.type == 'fire' && player_card.type == 'snow') ||
               (computer_card.type == 'snow' && player_card.type == 'water') ||
               (computer_card.type == 'water' && player_card.type == 'fire')) {
        computer_wins(player_card, computer_card);
    } else if (player_card.type == computer_card.type) {
        if (player_card.number > computer_card.number) {
            player_wins(player_card, computer_card);
        } else if (player_card.number < computer_card.number) {
            computer_wins(player_card, computer_card);
        } else {
            console.log(`Tie. Player's and computer's ${player_card.type} ${player_card.number}`);
            alert(`Tie. Player's and computer's ${player_card.type} ${player_card.number}`);
        }
    }

check_game_over();
}


// Function to handle the next round
function next_round_button_function(){
    // Remove the played cards from the hands
    player_hand.splice(last_played_player_card.index, 1);
    computer_hand.splice(last_played_computer_card.index, 1);

    // Draw new cards for the player and computer
    player_hand.push(deck.pop());
    computer_hand.push(deck.pop());

    // Redraw the hands
    display_player_hand();
    display_computer_hand();

    // Enable the Play Card button
    play_card_button.disabled = false;

    // Disable the Next Round button
    next_round_button.disabled = true;
}

//Function to end game if anyone either gets 3 wins with 1 type or 3 wins with 3 different types
        function check_game_over() {
            if ((player_snow_card_score_js == 3 || player_fire_card_score_js == 3 || player_water_card_score_js == 3) || (player_snow_card_score_js >= 1 && player_fire_card_score_js >= 1 && player_water_card_score_js >= 1)) {
                alert(`Player Wins. Player has ${player_snow_card_score_js} snow, ${player_fire_card_score_js} fire, and ${player_water_card_score_js} water cards`);
                console.log(`Player wins. Player's ${player_card.type} ${player_card.number} beats computer's ${computer_card.type} ${computer_card.number}`);
                log_html.innerHTML += `<p>${new Date().toLocaleTimeString()} - Player wins. Player has ${player_snow_card_score_js} snow, ${player_fire_card_score_js} fire, and ${player_water_card_score_js} water cards</p>`

                //Disable game
            play_card_button.disabled = true;
            next_round_button.disabled = true;
            }
            if ((computer_snow_card_score_js == 3 || computer_fire_card_score_js == 3 || computer_water_card_score_js == 3) || (computer_snow_card_score_js >= 1 && computer_fire_card_score_js >= 1 && computer_water_card_score_js >= 1)) {
                alert(`Computer Wins. Computer has ${computer_snow_card_score_js} snow, ${computer_fire_card_score_js} fire, and ${computer_water_card_score_js} water cards`);
                console.log(`Computer wins. Computer's ${computer_card.type} ${computer_card.number} beats player's ${player_card.type} ${player_card.number}`);
                log_html.innerHTML += `<p>${new Date().toLocaleTimeString()} - Computer wins. Computer has ${computer_snow_card_score_js} snow, ${computer_fire_card_score_js} fire, and ${computer_water_card_score_js} water cards</p>`

                //Disable game
            play_card_button.disabled = true;
            next_round_button.disabled = true;

            }




        }

    // Add event listener to start game button
    start_game_button.addEventListener('click', start_game);

    // Add event listener to play card button
    play_card_button.addEventListener('click', play_round);


    next_round_button.addEventListener('click', next_round_button_function);

    //Reload window on reset button
    reset_game_button.addEventListener('click', function() {
        window.location.reload()
    });

    });


</script>
</body>
</html>
