<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
    <title>forgot</title>
</head>
<body>
    <div class="banner">
        <div class="unolingo"><h2>UNOLINGO</h2></div>
    </div>
    </div>
    <div class="container">
        <div class="logo">
            <img src="static/trilingo_blue_owl.png" alt="Logo">
        </div>
        <form class="reset-form" action="/auth/forgot" method="post">
            <h2>Forgot your password?</h2>
            
                <input type="text" name="username" placeholder="Username">
                <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
</body>
</html>
