<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duolingo</title>
    <link rel="stylesheet" href="static\bootstrap\css\HomePageCSS.css">
    <script src="static\bootstrap\css\HomePageJS.JS" defer></script>

    <!-- Custom Fonts -->
    <link href="static\bootstrap\vendor\font-awesome\css\font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body class = "dark-mode">

    <header>
        <div class = "banner">
            <!-- Check if user is loged in -->
            <button class = "dark-mode" id = "DarkModeToggle"></button>
            <!-- <button style="width: auto;" class = "mute_button_class" id = "mute_button_id"> <img id="unmute" src="static\assets\duck_win_unmute.png" alt="unmute" width="100" height="100"> <p id="mute_text">Mute </p></button> -->
            <img id="image_as_button" src="static\assets\duck_win_unmute.png" alt="logo" width="100" height="100">
            {% if username %}
            <h1 id = "Welcome">Welcome {{username}}!</h1>
            <li class = NavBar>
                <ul> <a href="{{ url_for('ranking') }}">Ranking </a></ul>
                <ul><a href="{{ url_for('profile') }}">Profile</a></ul>
                <ul> <form id="logoutForm" action="{{ url_for('logout') }}" method="POST">
                    <a href="{{ url_for('home') }}" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                </form> </ul>
            </li>
            {% else %}
            <h1 id = "Welcome">Please Sign-up or Login</h1>
            <li class = NavBar>
                <ul> <a href="{{ url_for('register_page') }}">Sign-up</a> </ul>
                <ul> <a href="{{ url_for('login_page') }}">Login</a> </ul>
            </li>
            {% endif %}
            
        </div>
    </header>  


    <div class = "StudyMode">
        <h2 id = "ModeText">Select Your Study Difficulty Mode:</h2>
        <button class = "GameModeButton" id = "Game1" {% if not username %}disabled{% endif %}>Basic Fill in the Blank</button>
        <button class = "GameModeButton" id = "Game2" {% if not username %}disabled{% endif %}>GRE Fill in the Blank</button>
        <button class = "GameModeButton" id = "Game3" {% if not username %}disabled{% endif %}>Basic Definitions</button>
        <button class = "GameModeButton" id = "Game4" {% if not username %}disabled{% endif %}>GRE Definitions</button>
        <button class = "GameModeButton" id = "Game5" {% if not username %}disabled{% endif %}>Basic Endless Mode</button>
        <button class = "GameModeButton" id = "Game6" {% if not username %}disabled{% endif %}>GRE Endless Mode</button>
    </div>
    <!-- <div id="SubmitButtonDiv">
        <button id = "SubmitButton">Submit</button>
    </div> -->
    <!-- link to test_db_data.html -->
    <!-- <a href="{{ url_for('test_db_data') }}">Test DB Data</a> -->
    
</div>

 <!-- jQuery -->
 <script src="static\bootstrap\vendor\jquery\jquery.min.js"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="static\bootstrap\vendor\bootstrap\js\bootstrap.min.js"></script>

 <!-- script to make buttons go to a link when clicked-->
 <script>
    document.getElementById("Game1").addEventListener("click", function() {
        window.location.href = "{{ url_for('question') }}";
    });
    document.getElementById("Game2").addEventListener("click", function() {
        window.location.href = "{{ url_for('question') }}";
    });
    document.getElementById("Game3").addEventListener("click", function() {
        window.location.href = "{{ url_for('definition') }}";
    });
    document.getElementById("Game4").addEventListener("click", function() {
        window.location.href = "{{ url_for('question') }}";
    });
    document.getElementById("Game5").addEventListener("click", function() {
        window.location.href = "{{ url_for('endless') }}";
    });
    document.getElementById("Game6").addEventListener("click", function() {
        window.location.href = "{{ url_for('question') }}";
    });
    window.onload = function() {
    var darkMode = localStorage.getItem('darkMode') === 'true';
    document.body.classList.toggle("dark-mode", darkMode);
    }

    /**
     * Toggles the image and text of the mute button when clicked.
     * If the image is currently the unmute image, it will change to the mute image
     * and the text will change to "Unmute". If the image is currently the mute image,
     * it will change to the unmute image and the text will change to "Mute".
     */
    // document.getElementById("mute_button_id").addEventListener("click", function() {
    //     let mute = document.getElementById("unmute");
    //     let mute_text = document.getElementById("mute_text");
    //     if(mute.src.includes("unmute")){
    //         mute.src = `static/assets/duck_win_mute.png`;
    //         mute_text.innerHTML = "Unmute";
    //     }
    //     else{
    //         mute.src = "static/assets/duck_win_unmute.png";
    //         mute_text.innerHTML = "Mute";
    //     }
    // });

    document.getElementById("image_as_button").addEventListener("click", function() {
        let image_as_button = document.getElementById("image_as_button");
        if (image_as_button.src.includes("static/assets/duck_win_unmute.png")) {
            image_as_button.src = "static/assets/duck_win_mute.png";
        } else {
            image_as_button.src = "static/assets/duck_win_unmute.png";
        }
    });

</script>
</body>
</html>
