<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login/login.css">
    <title>UNOLINGO-Login</title>
</head>
<body>
    <div class="banner">
        <div class="unolingo"><h2>UNOLINGO</h2></div>
        <div class="options">
            <!-- <ul>
                <li>SIGN-UP</li>
                <li>LOGIN</li>
                <li>QUIZ</li>
                <li>ACCOUNT</li>
                <li>RANK</li>
            </ul>
        </div> -->
    </div>
    <div class="container">
        <div class="logo">
            <img src="/static/login/duck-spin.gif" alt="Logo">
        </div>
        <form class="login-form" action="/auth/login" method="POST">
            <h2 id="loginMessage">Login into your account</h2>
            <input type="username" name="username" placeholder="username" class="input-field">
            <input type="password" name="password" placeholder="password" class="input-field">
            <div class="forgot-password">
                <a href="{{ url_for('forgot_page') }}">Forgot Password?</a>
            </div>
            <button type="submit" class="login-button">Login</button>
            <div class="signup-link">
                <p>Don't have an account? <a href="{{ url_for('register_page') }}">Sign up</a></p>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>