<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duolingo</title>
    <link rel="stylesheet" href="static\bootstrap\css\HomePageCSS.css">
    <script src="static\bootstrap\css\HomePageJS.JS" defer></script>
    <title>UNOLINGO-Login</title>
</head>

<body class="dark-mode">
    <header>
      <div class = "banner">
          <!-- Check if user is loged in -->
          <button class = "dark-mode" id = "DarkModeToggle"></button>
          {% if username %}
          <h1 id = "Welcome">{{username}}'s profile</h1>
          <li class = NavBar>
            <ul> <a href="{{ url_for('home') }}">Home </a></ul> 
            <ul> <a href="{{ url_for('ranking') }}">Ranking </a></ul>
            <ul> <form id="logoutForm" action="{{ url_for('logout') }}" method="POST">
                <a href="{{ url_for('home') }}" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                </form> 
            </ul>
          </li>
          {% endif %}  
      </div>
  </header>  

  
      <div class="container">
          <h2>User Information</h2>
            <form class="answers-form" action="/profile/update/password" method="POST">
                <!-- Username -->
                <label id="answers-label" for="username">Username : {{ username }}</label>
                <input class="input-field" type="hidden" name="username" value="{{ username }}">
                <br>
                <!-- New password -->
                <label id="answers-label" for="password">New password</label>
                <input class="input-field" type="password" name="password" placeholder="Enter new password">
                <br>
                <small class="form-text text-muted">Must contain more than 6 characters with at least 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character.</small>
                <br>
                <!-- Confirm New Password-->
                <label id="answers-label" for="password">Confirm new password</label>
                <input class="input-field" type="password" name="password" placeholder="Enter new password again">
                <button type="submit" class="answers-button">Reset</button>
            </form>
      </div>
  </body>
    <script>
      window.onload = function() {
          var darkMode = localStorage.getItem('darkMode') === 'true';
          document.body.classList.toggle("dark-mode", darkMode);
      };
    </script>
</html>