<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" type="image/x-icon" href="static\secure-icon.png" />
  <!-- Styles -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- Icons CDN -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/761d42c757.js" crossorigin="anonymous"></script>
  <title>Unolingo Auth</title>

  <!-- Bootstrap Core CSS -->
  <link href="static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="static/bootstrap/css/freelancer.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">Unolingo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="page">
                <a href="{{ url_for('register_page') }}">Sign-up</a>
              </li>
              <li class="page">
                  <a href="{{ url_for('login_page') }}">Login</a>
              </li>
              {% if username %}
              <li class="page">
                  <a href="{{ url_for('question') }}">Quiz</a>
              </li>
              <li class="page">
                  <a href="{{ url_for('ranking') }}">Ranking</a>
              </li>
              <li class="page">
                  <a href="{{ url_for('profile') }}">Profile: {{ username }}</a>
              </li>
              {% endif %}
              </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-3">
          <img src="../static/secure-icon.png" alt="icon" width="20%" />
        </h1>
        <h2>Register</h2>
        <form action="/auth/register" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" id="username" name="username" class="form-control" required minlength="4" placeholder="Enter Username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required minlength="6" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}" placeholder="Enter Password" />
            <small id="passwordHelp" class="form-text text-muted">Must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</small>
          </div>
          <div class="form-group">
            <label for="secure_question1">Security Question 1</label>
            <select id="secure_question1" name="secure_question1" class="form-control">
                {% for secure_question in list_of_secure_questions %}
                <option value="{{ secure_question[1] }}">{{ secure_question[1] }}</option>
                {% endfor %}
            </select>
            <input type="text" id="answer1" name="answer1" class="form-control" required placeholder="Enter Answer 1" />
          </div>
          <div class="form-group">
            <label for="secure_question2">Security Question 2</label>
            <select id="secure_question2" name="secure_question2" class="form-control">
                  {% for secure_question in list_of_secure_questions %}
                  <option value="{{ secure_question[1] }}">{{ secure_question[1] }}</option>
                  {% endfor %}
            </select>
            <input type="text" id="answer2" name="answer2" class="form-control" required placeholder="Enter Answer 2" />  
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign-up</button>
        </form>
  
        <p class="mt-4">Already Have an Account?<a href="{{ url_for('login_page') }}">    Login</a></p>
      </div>
      <div>
        <p>Username should contains at least 4 characters</p>
        <p>Password should contains at least 6 characters with at least one uppercase letter, one lowercase letter, one digit and one special character </p>
        <p>Answers should not be empty</p>
        <p>QUESTIONS should be different from each other</p>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="static\bootstrap\vendor\jquery\jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="static\bootstrap\vendor\bootstrap\js\bootstrap.min.js"></script>
</body>

</html>