<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST"></form>
    <input type="text" name="username" placeholder="username">
    <select name="question1" id="question1"></select>
    <input type="text" name="answer1" placeholder="answer for secure question1">
    <select name="question2" id="question2"></select>
    <input type="text" name="answer2" placeholder="answer for secure question2">
    <button type="submit"></button>

</body>
</html>