<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Styles -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="static/login.css">
  <title>Unolingo Signup</title>
</head>

<body>
  <div class="banner">
    <div class="unolingo" ><h2>UNOLINGO</h2></div>
    <div class="options">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('register_page') }}">Sign Up</a>
        <a href="{{ url_for('login_page') }}">Login</a>
    </div>
  </div>
  <div class="container">
    <div class="logo">
        <img src="static/Trilingo_blue_Owl.png" alt="Logo">
        <h1>Welcome to Unolingo</h1>
        <h2>Sign up your account</h2>
    </div>
    <form class="signup-form" action="/auth/register" method="POST">
      <!-- Username -->
      <br>
      <label for="username">Username</label>
      <input class="input-signup" type="username" name="username" required minlength="4" placeholder="Enter Username"/>
      <small id="usernameHelp" class="form-text text-muted">Must contain at least 4 characters.</small>

      <!-- Password-->
      <br>
      <label for="password">Password</label>
      <input class="input-signup" type="password" name="password" required minlength="6" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}" placeholder="Enter Password" />
      <small id="passwordHelp" class="form-text text-muted">Must contain more than 6 characters with at least 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character.</small>
       
      <!-- Security Question 1-->
      <br>
      <label for="secure_question1">Security Question 1</label>
        <select id="secure_question1" name="secure_question1" class="form-control">
          {% for secure_question in list_of_secure_questions %}
          <option value="{{ secure_question[1] }}">{{ secure_question[1] }}</option>
          {% endfor %}
        </select>
          <input type="text" id="answer1" name="answer1" class="form-control" required placeholder="Enter Answer 1" />
          <small id="answerHelp" class="form-text text-muted">Must type an answer.</small>
      
      <!-- Security Question 2-->
      <br>
      <label for="secure_question2">Security Question 2</label>
        <select id="secure_question2" name="secure_question2" class="form-control">
          {% for secure_question in list_of_secure_questions %}
          <option value="{{ secure_question[1] }}">{{ secure_question[1] }}</option>
          {% endfor %}
        </select>
        <input type="text" id="answer2" name="answer2" class="form-control" required placeholder="Enter Answer 2" />  
        <small id="answer2Help" class="form-text text-muted">Must type an answer and choose a different answer from securrty question 1.</small>
      
      <br>
      <div class="forgot-password">
          <a href="{{ url_for('forgot') }}">Forgot Password?</a>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign-up</button>
      <div class="login-link">
        <p class="mt-4">Already Have an Account?<a href="{{ url_for('login_page') }}">    Login</a></p>
      </div>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert">
                  {{ messages[0] }}
              </div>
          {% endif %}
      {% endwith %}
    </form>
  </div>
</body>
  <script>
    window.onload = function() {
        var darkMode = localStorage.getItem('darkMode') === 'true';
        document.body.classList.toggle("dark-mode", darkMode);
    };
  </script>
</html>