<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questionPage/Question.CSS') }}">
    <script>
        const questions_list = {{ wrongQuestion|safe }};
        
        
        console.log(typeof(questions_list));

        document.addEventListener('DOMContentLoaded', function() {
            const questions_container = document.getElementById
            ('questionList');
            
            if (questions_list.length == 0) {
                let div = document.createElement('div');
                const p = document.createElement('p');

                div.classList.add('QuestionReview');
                p.innerHTML = 'No wrong questions';
                questions_container.appendChild(p);
                div.appendChild(p);
                questions_container.appendChild(div);
            }
            for (let i = 0; i < questions_list.length; i++) {
                let div = document.createElement('div');
                
                let p = document.createElement('p');

                div.classList.add('QuestionReview');
                
                p.innerHTML = questions_list[i];

                div.appendChild(p);
                questions_container.appendChild(div);

            }

            
        })

    
        
        

        
    </script>
</head>
<body id ='reviewbody'>
    <header>
        <div class = 'banner'>
            <div class = 'banner_content'>
                <div class="banner_text">
                    <h1>QUESTION REVIEW</h1>
                </div>
                
        </div>
        <h1></h1>
    </header>
    <div id = pageSettings>
        <div id = 'second_box'>
            <h3>Incorrect question</h3>
            <button id = 'redo' class = 'button' value="redo">redo</button>
        </div>

        <div id = 'wrongQuestionContainer'>
            <p class ='WrongQuestionText'></p>
        </div>



        <div id = questionList>
            
            </div>



        </div>
    </div>

    
</body>
</html>