<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questionPage/Question.CSS') }}">
    <script src="{{ url_for('static', filename='review/review.js') }}" ></script>
    <link rel="stylesheet" href="/static/questionPage/Question.css">
    <div id = 'AnswertoJS' style="display: none;">{{answer_JSON}}</div>
    <div id = 'QuestiontoJS' style="display: none;">{{wrongQuestion_JSON}}</div>
    <script src="{{ url_for('static', filename='questionPage/DarkMode.js') }}" ></script>
</head>
<body id ='reviewbody'>
    <header>
        <div class = 'banner'>
            <button class = "dark-mode" id = "DarkModeToggle"></button>
            <div class = 'banner_content'>
                <div class="banner_text">
                    <h1>QUESTION REVIEW</h1>
                </div>
            </div>
            <li class = NavBar>
                <ul> <a href="{{ url_for('home') }}">Home </a></ul>
                <ul> <a href="{{ url_for('ranking') }}">Ranking </a></ul>
                <ul><a href="{{ url_for('profile') }}">Profile</a></ul>
                <ul> <form id="logoutForm" action="{{ url_for('logout') }}" method="POST">
                    <a href="{{ url_for('home') }}" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                </form> </ul>
            </li>
        </div>

        
        <h1></h1>
    </header>
    <div id = pageSettings>
        <div id = 'second_box'>
            <h3>Incorrect question</h3>
            <button id = 'redo' class = 'button' value="redo">redo</button>
        </div>

        <div id = 'wrongQuestionContainer'>
            <p class ='WrongQuestionText'></p>
        </div>



        <div id = questionList>
            
            </div>



        </div>
    </div>

    
</body>
</html>