<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questionPage/Question.CSS') }}">
</head>
<body id ='reviewbody'>
    <header>
        <div class = 'banner'>
            <div class = 'banner_content'>
                <div class="banner_text">
                    <h1>QUESTION REVIEW</h1>
                </div>
                
        </div>
        <h1></h1>
    </header>
    <div id = pageSettings>
        <div id = 'second_box'>
            <h3>Incorrect question</h3>
            <button id = 'redo' class = 'button' value="redo">redo</button>
        </div>

        <div id = 'wrongQuestionContainer'>
            <p class ='WrongQuestionText'></p>
        </div>




        <div id = questionList>
            <div class = 'QuestionReview'>
                <p class ='review text'>wrong question goes here</p>
            </div>
            <div class = 'QuestionReview'>
                <p class ='review text'>wrong question goes here</p>
            </div>



        </div>
    </div>

    
</body>
</html>